@model IEnumerable<Dominio.Entidades.Produto>

@{
    ViewData["Title"] = "Consultar";
}

<h1>Consultar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    <a asp-action="Editar" asp-controller="Produto" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-controller="Produto" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-controller="Produto" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<a asp-action="Index" asp-controller="Home">Voltar para o início</a>
